::ng-deep .btn-primary {
  border-radius: 0px;

  background-color: #003a70;
}

::ng-deep .btn-success {
  border-radius: 0px;
}

::ng-deep .btn-primary:hover {
  background-color: #003a70;
  border-color: #003a70;
}

::ng-deep select {
  -webkit-appearance: listbox !important;
}

::ng-deep .btn-secondary {
  border-radius: 0px;

  background-color: #9a9a9a;

  border: #9a9a9a;

  color: black;
}

::ng-deep .textAlignment {
  text-align: center;
}

::ng-deep .form-control,
.form-select {
  border: 1.5px solid #6287a8;
  border-radius: 0rem;
}

::ng-deep .mat-button-toggle {
  background-color: white;
  color: black;
}

::ng-deep .mat-button-toggle-checked {
  background-color: #094a8a;
  color: white;
}

::ng-deep .btn:disabled,
.btn.disabled,
fieldset:disabled .btn {
  color: black;
  pointer-events: none;
  background-color: #9a9a9a;
  border-color: none;
}

::ng-deep .mat-button-toggle {
  background-color: white;

  color: black;
}

::ng-deep .mat-button-toggle-checked {
  background-color: #094a8a;

  color: white;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #e4ebf2fa;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #006603;
}

::ng-deep .asterisk{
   color: red;
}
