<div class="m-2">
  <button (click)="onBackClick()" class="btn btn-primary">Back</button>
</div>
<div class="qnA-hr-line"></div>

<div class="container-fluid paddingcontainer">
  <div class="row">
    <div class="col-9 mt-3 mt-3" style="color: #003b71">
      <strong>Publish</strong>
    </div>
  </div>

  <div class="row mt-3">
    <div class=" containerDesign">
      <!-- basic and advance div starts here -->
      <div class="row">
        <div class="col-md-6" style="padding-right: 0px">
          <div
            class="card card-height card-border"
            (click)="clickOnSimple()"
            [ngClass]="simpleTabClicked === true ? 'blueClass' : ''"
          >
            <div class="card-text">Basic</div>
          </div>
        </div>
        <div class="col-md-6" style="padding-left: 0px">
          <div
            class="card card-height card-border"
            (click)="clickOnManual()"
            [ngClass]="manualTabClicked === true ? 'blueClass' : ''"
          >
            <div class="card-text">Advanced</div>
          </div>
        </div>
      </div>
      <!-- basic and advance div ends here -->

      <!--manifest name div starts here -->
      <div class="row mt-4">
        <div class="col-md-1">
          <h6
            style="background-color: #e7f0f9; padding: 7px; font-weight: 600px"
          >
            {{selectedManifest}}
          </h6>
        </div>
      </div>
      <!--manifest name div ends here -->

      <ng-container>
        <form [formGroup]="scheduleForm">
          <!--date fields div starts here -->
          <div class="row mb-4 mt-1" *ngIf="simpleTabClicked">
            <div class="col-md-12" >
              <div class="py-3 pl-2" style="border: 1px solid #e7e7e7">
                <div class="row">
                  <div
                    class="col-md-5"
                    style="margin-top: 25px; font-style: italic; color: #b4b4b4"
                  >
                    Please set the Active Period of the job
                  </div>
                  <div class="col-md-3">
                    <label for="number" class="labelcss">Start Date*</label>
                    <input
                      type="date"
                      formControlName="startdate"
                      placeholder=""
                      (change)="onStartDateChange($event)"
                      min="{{date | date:'yyyy-MM-dd'}}"
                      class="form-control"
                    />
                  </div>

                  <div class="col-md-3">
                    <label for="number" class="labelcss">End Date*</label>
                    <input
                      type="date"
                      formControlName="enddate"
                      placeholder=""
                      min="{{endDateMin}}"
                      class="form-control"
                    />
                  </div>
                  <div class="col-md-1"></div>
                </div>
              </div>
            </div>
          </div>
          <!--date fields name div ends here -->

          <!--basic tab div starts here -->
          <div *ngIf="simpleTabClicked" class="mb-4">
            <div class="row">
              <!-- <div class="col-md-12"> -->

              <mat-button-toggle-group
                aria-label="Font Style"
                style="border: none"
                (change)="onToggleGroupChange($event)"
              >
                <ng-container>
                  <mat-button-toggle
                    *ngFor="let tab of tabmap; let i = index"
                    value="{{ tab.id }}"
                    class="col-md-3"
                    style="border: 2px solid #094a8a; border-radius: 0px"
                    [checked]="tab.id == 1 ? true : false"
                  >
                    <div>
                      <label>{{ tab.tabname }}</label>
                    </div>
                  </mat-button-toggle>
                  <!-- <div class="col-1"></div> -->
                </ng-container>
              </mat-button-toggle-group>
              <!-- </div> -->
            </div>

            <!--FORM HTML STARTED-->
            <div class="my-3">
              <div class="row">
                <div
                  class="col-md-3"
                  *ngIf="
                    hourlyTabSelected &&
                    !weeklyTabSelected &&
                    !yearlyTabSelected
                  "
                >
                <label style="color: #b4b4b4">Every(Hour)*</label>

                <select class="form-control mb-3" formControlName="everyHour">
                  <option disabled selected value="">- Select a Hour -</option>
                  <option
                    *ngFor="let data of everyHour"
                    [ngValue]="data"
                  >
                    {{ data }}
                    </option>
                  </select>
                </div>

                <div
                  class="col-md-3"
                  *ngIf="yearlyTabSelected || monthlyTabSelected"
                >
                  <label style="color: #b4b4b4">Repeat On The*</label>

                  <select
                    class="form-control mb-3"
                    formControlName="repeatonthe"
                  >
                    <option disabled selected value="">- Select -</option>
                    <option
                      *ngFor="let data of repeatOnTheList"
                      [ngValue]="data"
                    >
                      {{ data }}
                    </option>
                  </select>
                </div>

                <div class="col-md-3" *ngIf="!hourlyTabSelected">
                  <label style="color: #b4b4b4">On Day*</label>

                  <select class="form-control mb-3" formControlName="onday">
                    <option disabled selected value="">- Select a Day -</option>
                    <option
                      *ngFor="let data of selectADay"
                      [ngValue]="data.dayname"
                    >
                      {{ data.dayname }}
                    </option>
                  </select>
                </div>

                <div class="col-md-3" *ngIf="yearlyTabSelected">
                  <label style="color: #b4b4b4">On Month*</label>

                  <select class="form-control mb-3" formControlName="onmonth">
                    <option disabled selected value="">
                      - Select a Month -
                    </option>
                    <option *ngFor="let data of onMonthList" [ngValue]="data">
                      {{ data }}
                    </option>
                  </select>
                </div>

                <div class="col-md-3" *ngIf="yearlyTabSelected">
                  <label style="color: #b4b4b4">At*</label>

                  <div class="row col-12">
                    <div class="col-md-4">
                      <input
                        type="number"
                        formControlName="numhouryr"
                        placeholder="HH"
                        class="form-control"
                      />
                    </div>
                    <div class="col-md-4">
                      <input
                        type="number"
                        formControlName="numminuteyr"
                        placeholder="MM"
                        class="form-control"
                      />
                    </div>
                    <div class="col-md-4">
                      <select class="form-control" formControlName="amORpmyr">
                        <option disabled selected value="">AM/PM</option>
                        <option value="AM">AM</option>
                        <option value="PM">PM</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-md-3" *ngIf="!yearlyTabSelected">
                  <label style="color: #b4b4b4">Start Time*</label>

                  <div class="row col-12">
                    <div class="col-md-4">
                      <input
                        type="number"
                        formControlName="numhourst"
                        placeholder="HH"
                        class="form-control"
                      />
                    </div>
                    <div class="col-md-4">
                      <input
                        type="number"
                        formControlName="numminutest"
                        placeholder="MM"
                        class="form-control"
                      />
                    </div>
                    <div class="col-md-4">
                      <select class="form-control" formControlName="amORpmst">
                        <option disabled selected value="">AM/PM</option>
                        <option value="AM">AM</option>
                        <option value="PM">PM</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <!-- clear and add/update button -->
              <div class="row" style="margin-top: 32px; float: right">
                <div class="col-12">
                  <button type="button" class="btn btn-primary">Cancel</button
                  >&nbsp;&nbsp;
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="onClickOnPublish()"
                    [disabled]="!scheduleForm.valid"
                  >
                    Publish
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!--basic tab div ends here -->
        </form>
      </ng-container>

      <!--advanced tab div starts here -->
      <ng-container *ngIf="manualTabClicked">
        <div class="row">
          <div class="container-fluid background-container">
            <form [formGroup]="publishAdvancedTabForm">
              <div class="form-group row">
                <label>Custom Cron Expression</label>
                <div class="col-md-10">
                  <input
                    class="form-control"
                    placeholder="Enter your Cron Expression, example: 1 * * * SUN"
                    formControlName="cronExpression"
                  />
                </div>
                <div class="col-md-2">
                  <button
                    class="btn btn-primary"
                    [disabled]="isFormValid()"
                    (click)="onClickValidate()"
                  >
                    Validate
                  </button>
                </div>
              </div>

              <!-- just a testing div starts here -->
              <div class="row col-md-12 justify-content-center">
                <!-- <div class="col-md-12 text-center"> -->
                <div class="headercss textAlignment" style="color: #b4b4b4">
                  {{ cronReadable }}
                </div>
              </div>
              <!-- just a testing div ends here -->
            </form>
          </div>
        </div>
      </ng-container>
      <!--advanced tab div ends here -->
      <h4>{{ cronPieces }}</h4>
      <!--END-->
    </div>
  </div>
</div>