.qnA-hr-line {
  width: auto;
  border: 1px solid #003a70;
}

.containerDesign {
  border: 2px solid #31618c;
  padding: 24px;
}

.card-border {
  border: 1px solid #003b71;
}

.card-text {
  text-align: center;
  padding: 8px;
}
.card-height {
  border-radius: 0;
  border-color: 2px solid #003b71;
  cursor: pointer;
}
.blueClass {
  background-color: #003b71;
  color: white;
}

.paddingcontainer {
  padding-left: 40px;
  padding-right: 40px;
}

.headercss {
  background-color: #e7f0f9;
  padding: 10px;
}

::ng-deep .custom-style{
  background-color:brown;
  color:white;
}

.background-container {
  background-color: #827f7f0f;
  margin-top: 44px;
  padding: 24px;
  /* margin-left: 12px; */
  margin-right: 12px;
}

.mat-button-toggle-checked {
  background-color: #094a8a;
  color: white !important;
}

/** No CSS for this example */
