.qnA-hr-line {
  width: auto;
  border: 1px solid #003a70;
}

.search-style {
  width: 40%;
}

.hidden {
  display: none;
}
.lab-sty{
  color: #4f4f4f;
}
.show {
  display: contents;
}
.dropdown-style {
  width: 80%;
}
.headercss {
  background-color: #e7f0f9;
  padding: 10px;
}
/* table {
  width: 90%;
  margin-left: 5%;
} */

.overflow-scrollbar {
  overflow-y: auto;

  height: 77vh;

  overflow-x: hidden;
}

.paddingcontainer {
  padding-left: 42px;
  padding-right: 42px;
}
.paddingcontainerbox {
  padding-left: 2%;
  padding-right: 2%;
}

.circletoimg {
  border: 2px solid rgb(223 227 233);
  padding: 1%;
  padding-left: 3%;
}

::ng-deep .custom-success{
  background-color:green;
  color:white;
}

::ng-deep .custom-style{
  background-color:brown;
  color:white;
}

tr {
  box-shadow: 0px 2px 18px 0px #e7f0f9;
  background-color: white;
  margin-top: 1px;
}

/*

  .table {

    border-collapse: separate;

    border-spacing:0 6px;

} */

tbody {
  display: block;
  height: 277px;
  overflow: auto;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* even columns width , fix width of table too*/
  box-shadow: 0px 2px 18px 0px #e7f0f9;
  background-color: white;
  margin-top: 8px;
}

.labelcss {
  font-size: 14px;
  font-weight: 500;
  color: grey;
  padding-left: 9px;
}
