<app-header *ngIf="!schedulepageFlag"></app-header>
<div class="m-2" *ngIf="!schedulepageFlag">
  <button (click)="onBackClick()" class="btn btn-primary">Back</button>
</div>
<div class="qnA-hr-line" *ngIf="!schedulepageFlag"></div>
<br />
<div class="container-fluid paddingcontainer">
  <div class="row" *ngIf="!schedulepageFlag">
    <div class="col-8" style="color: #003b71">
      <strong class="ml-3">Search a Manifest</strong>
      <input
        type="text"
        class="form-control ml-2 search-style"
        [(ngModel)]="searchManifest"
        placeholder="Search manifest"
      />
    </div>
    <div class="col-4" style="color: #003b71">
      <strong>Show</strong>
      <select
        class="form-control dropdown-style"
        [(ngModel)]="dropdown2"
        (change)="changeAction($event)"
      >
        <!-- <option disabled selected value=""></option> -->
        <option *ngFor="let sortItem of operations" [value]="sortItem.name">
          {{ sortItem.name }}
        </option>
      </select>
    </div>
  </div>
  <br />
  <div class="row mt-3" style="padding-bottom:30px ;">
    <div class="headercss col-12">
<span style="height:30px ;overflow-y:auto;">
        <table class="table">
          <thead>
            <tr>
              <!-- <th>Id</th> -->
              <th>Name</th>
              <th>Schedule</th>
              <th style="width: 598px;">Publish details</th>
              <th>Status</th>
              <th>Active</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of newPublish | filterpipe: searchManifest">
              <!-- <td>{{ user.id }}</td> -->
              <!-- <td>{{ user.name }}</td>
              <td>{{ user.schedule }}</td> -->
              <!-- <td>{{ user.publish }}</td> -->
              <!-- <td >{{publishListVal}}</td> -->
              <td>{{user.entityName}}</td>
              <td>{{user.cronExpr}}</td>
              <td style="width: 598px;">{{user.publish}}</td>
              
              <td *ngIf="user.publish !== 'Not available'">
                <mat-slide-toggle
                  [checked]="user.flag"
                  (change)="updateActiveStatus(user)"
                ></mat-slide-toggle>
              </td>
              <!-- <td *ngIf="user.publish !== 'Not available'">
                {{ user.status }}
              </td> -->
              <td>{{user.flag}}</td>
              <td *ngIf="user.publish !== 'Not available'">
                <span class="circletoimg">
                <img
                  id="pastchatview"
                  style="width: 20px; height: 20px"
                  src="../../../assets/img/edit.svg"
                  (click)="editPublish(user)"
                />
              </span>
                &nbsp;
                <span class="circletoimg">
                <img
                  id="pastchatview"
                  style="width: 20px; height: 20px"
                  src="../../../assets/img/delete.svg"
                />
                </span>
              </td>
              <td *ngIf="user.publish === 'Not available'">
                <button class="btn btn-primary">Publish</button>
              </td>
            </tr>
          </tbody>
        </table>
      </span>
    </div>
  </div>
</div>
